@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.container{
    width: 100vw;
    height: 100vh;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(6, 19, 138, 0.5) 90%), 
        url("https://ideogram.ai/api/images/direct/V3elqc1-RSCosVmckSdYWw.jpg");
    background-position: top left 66% !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.logo img{
    width: 40px;
    margin-top: 28px;
    margin-left: 28px;
}
.title{
    position: absolute;
    bottom: 0;
    margin-bottom: 140px;
    margin-left: 25px;
}
.title span{
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: white;
    font-size: 25px;
}
.actions{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 100vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.actions button{
    width: 90vw;
    background-color: #FF6200;
    height: 40px;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
}